{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Академия Амбрелла</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <img class="full" src="{% static 'img/header.png' %}" alt="Академия Амбрелла">

  <section class="chars">
    <div class="grid">
      {% for c in characters %}
        <a class="card" href="{% url 'detail' c.pk %}">
          <img src="{{ c.photo.url }}" alt="{{ c.name }}">
          <span>{{ c.name }}</span>
        </a>
      {% endfor %}
    </div>
    <h2>Персонажи сериала</h2>
  </section>

  <section class="plot">
    <h2>Сюжет</h2>
    <p>Сериал «Академия Амбрелла» рассказывает о семи детях с экстрасенсорными способностями,
        которых усыновил миллиардер Реджинальд Харгривз. После его смерти герои снова собираются вместе,
        чтобы предотвратить апокалипсис. В первом сезоне они узнают о своих способностях и сталкиваются с угрозой
        конца света из-за Вани. Во втором сезоне герои переносятся в 1961 год и снова пытаются предотвратить
        апокалипсис, вызванный ядерной войной между СССР и США. В третьем сезоне они знакомятся с новыми героями из
        академии «Воробей» и борются с аномалией Кугельблиц, которая угрожает уничтожить реальность. В финале третьего
        сезона мир перезапускается, и герои теряют свои способности, а Реджинальд управляет злобной корпорацией.</p>
  </section>
</body>
</html>